/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #234ab4
- Tints:
rgb(103, 151, 223)

- Shades: unset
- Accents: unset
- Greys: unset

-- 04 Gradients
rgba(175, 143, 255, 0.02)
#7351ce

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 5px
Medium: 10px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: #262626;
  background-color: #fff;
}

a {
  color: #262626;
  text-decoration: none;
}

/* display grid one item left two item right */
.dashboard {
  display: grid;
  grid-template-columns: 28rem repeat(4, 1fr);
  grid-template-rows: 6rem repeat(4, 1fr);
  grid-column-gap: 0.1px;
  grid-row-gap: 0.1px;
  height: 100vh;
}

.left--sidebar {
  background-color: #fff;
  border-right: 1px solid #e6e6e6;
  grid-area: 1 / 1 / 6 / 2;
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-rows: 6rem repeat(2, 1fr);
}

.sidebar--title {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1.6rem;
  font-weight: 600;
  color: #262626;
  padding-top: 1.4rem;
  padding-left: 1.4rem;
}

.sidebar--menu {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 2.2rem;
}

.sidebar--menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-height: 85vh;
}

.sidebar--menu ul li {
  font-size: 1.6rem;
  color: #262626;
  padding: 1.2rem;
  transition: all 0.2s ease-in-out;
}

.logout {
  margin-top: auto;
}

.sidebar--menu ul li:hover {
  color: #6c86a6;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.sidebar--menu ul li a {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.sidebar--menu ul li a ion-icon {
  font-size: 2.4rem;
  color: #262626;
}

.header {
  background-color: #fff;
  grid-area: 1 / 2 / 2 / 6;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.2rem 2.8rem 3.2rem;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  font-size: 1.4rem;
}

.searchbar--icon {
  font-size: 2.4rem;
}

.searchbar--input {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.4rem;
  width: 100%;
}

.searchbar--input:focus {
  outline: none;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  height: 100%;
  position: relative;
}

.container {
  background-color: #eaecee;
  color: #0f0c0c;
  width: 100%;
  height: 100%;
  grid-area: 2 / 2 / 6 / 6;
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  padding: 2.4rem 0.1rem 0.1rem 2.4rem;
}

/* MAIN CATEGORIES */

.main {
  /* background-color: rgb(185, 190, 185); */
}

.main--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main--title h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #262626;
}

.main--title ion-icon {
  font-size: 2.6rem;
  background: rgb(84, 84, 216);
  border-radius: 3px;
  color: #fff;
}

/* CATEGORIES CARDS */

.categories--cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2.8rem;
  grid-row-gap: 1.2rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  height: 14rem;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  background-color: #f5f5f5;
  box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.1);
}

.card ion-icon {
  font-size: 4rem;
  color: #262626;
  color: rgb(0, 179, 255);
}

/* CHART */

.main--chart {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 40%;
}

/* RIGHT SIDEBAR */

.right--sidebar {
  padding: 1.2rem 2.4rem;
}

.right--sidebar__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right--sidebar__title h2 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #262626;
}

.right--sidebar__title span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f00;
}

.transactions--cards {
  max-height: 82vh;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin: 2rem 0.1rem 0.1rem 0.1rem;
  padding: 1.2rem;
  overflow-y: scroll;
}

.transactions--cards::-webkit-scrollbar {
  display: none;
}

.transaction--card {
  border-radius: 5px;
  padding: 2.4rem;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.2rem;
  border: 1px solid #eaecee;
}

/* PERSONS POPUP */

.hidden {
  display: none;
}

.persons--menu {
  position: absolute;
  top: 5.2rem;
  right: 3.2rem;
  width: fit-content;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.persons--menu__title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #262626;
  background-color: #f5f5f5;
  padding-top: 1.4rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-bottom: 1.2rem;
}

.persons--menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 1.2rem 2.4rem 2.4rem 0.4rem;
}

.persons--menu ul li {
  font-size: 1.4rem;
  color: #262626;
  padding: 0.6rem 0.6rem;
  transition: all 0.2s ease-in-out;
}

.persons--menu ul li:hover {
  border-bottom: 1px solid #e6e6e6;
}

.persons--menu ul li a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.persons--menu ul li a ion-icon {
  font-size: 2.2rem;
  color: #262626;
}

.persons--menu ul li a span {
  font-size: 1.4rem;
  color: #262626;
}

.notification {
  font-size: 2rem;
}

.profile--icon {
  font-size: 2.8rem;
}

.person--profile__icon {
  filter: invert(88%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

.profile--icon:hover {
  cursor: pointer;
  outline: blue solid 2px;
  border-radius: 50%;
}
