.content--right {
  width: 50%;
  display: flex;
  color: #00800076;
}

.header {
  padding: 2rem;
}

.sessions--title {
  font-size: 2.4rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.form--title {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.sub--title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  color: #6c86a6;
}

.form--group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  width: 100%;
}

.form--group input,
select {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #262626;
  transition: all 0.2s ease-in-out;
}

.form--group input:focus,
select:focus {
  border: 1px solid #262626;
  outline: none;
}

.submit--btn {
  border: none;
  border-radius: 5px;
  padding: 1.6rem 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  background-color: #6b62ff;
  transition: all 0.2s ease-in-out;
}

.content--left {
  width: 50%;
  background-color: #fcf9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 2s ease-in-out;
}

.welcome--img {
  width: 60%;
  height: auto;
  animation: fadeInLeft 2s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0.1px);
  }
}

.link-to {
  font-size: 1.6rem;
  font-weight: 500;
  color: #6c86a6;
  text-decoration: none;
}

.persons--choice {
  font-size: 1.6rem;
  font-weight: 500;
  color: #6c86a6;
  text-decoration: none;
  margin-top: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.persons--choice img {
  height: 4.4rem;
  width: auto;
  cursor: pointer;
  filter: invert(1);
  transition: all 0.3s ease-in-out;
}

.active--person {
  height: 5.4rem !important;
}

.selected {
  outline: 1px solid #6c86a6;
  border-radius: 5px;
  padding: 0.8rem;
  margin: 0.8rem;
  font-size: 4.6rem;
}

.select--all {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.2rem;
  width: 100%;
}

.icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.8rem;
  margin-top: 1.6rem;
}

.icons--item {
  font-size: 3.2rem;
  width: 4.4rem;
  height: 4.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icons--item input[type='radio'] {
  display: none;
}

.icons--item label {
  display: inline-block;
  padding: 0.8rem;
  font-size: 3.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icons--item input[type='radio']:checked + label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.4rem;
  width: 4.4rem;
  height: 4.4rem;
  background-color: #a6ded77a;
  border-radius: 5px;
}

.fonds {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1.2rem;
  padding: 1.6rem 0;
}

.fonds input[type='radio'] {
  display: none;
}

.fond--label {
  padding: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border: 1.5px solid #353535;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.fonds input[type='radio']:checked + label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #eab308;
  border-radius: 5px;
}

.fond {
  width: 100%;
}

.login__text {
  font-size: 1.6rem;
  font-weight: 500;
  color: #6c86a6;
  text-decoration: none;
  margin-top: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}
